*{
    font-size: 1.7rem;
    margin: 5px;
    color:cadetblue;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.List{
    padding: 10px;
}

.listStuff{
    padding: 10px;
}